<nav>
  <div class="nav-wrapper">
    <a href="/">
      <div class="home-ribbon">
          <i class="material-icons" id="home">home</i>
      </div>
    </a>
    <div class="nav-links">
      <a href="/location.html">
        <p>Lokalizacja</p>
      </a>
      <a href="/faq.html">
        <p>Pytania</p>
      </a>
      <a href="/about.html">
        <p>O nas</p>
      </a>
      <a href="/gallery.html">
        <p>Galeria</p>
      </a>
    </div>
    <div class="hamburger">
      <i class="material-icons">menu</i>
    </div>
  </div>
</nav>
