.landing-page-wrapper {
  margin: 5%;
  nav {
    ul {
      height: 30px;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      border-bottom: 1px solid $grey-color-light;
      @include media-query($on-palm) {
        flex-direction: column;
        border-bottom: none;
        height: auto;
        @include center-on-mobile;
      }
      li {
        list-style: none;
        @include media-query($on-palm) {
          width: 90%;
          border-bottom: 1px dashed $grey-color-dark;
          height: 30px;
          padding-top: 6px;
        }
        a {
          color: $grey-color-dark;
          text-transform: uppercase;
        }
      }
    }
  }
  .home {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.2);
    border-radius: 6px;
    font-family: 'Muli';

    .important-cards {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      .card {
        background-color: white;
        width: 250px;
        height: 400px;
        margin: 20px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
        border-radius: 6px;
        transition: all .3s ease-in-out;
        &:hover {

        }
        .card-title {
          height: 30px;
          border-radius: 6px 6px 0 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 0;
          p {
            padding-left: 10px;
          }
        }
        .card-content {
            height: 340px;
        }
        .card-footer {
          height: 30px;
          border-radius: 0 0 6px 6px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          i {
            margin: 0 15px 0 5px;
          }
          p {
            padding-bottom: 4px;
          }
        }
      }
    }
  }
}

.dark-purple {
  background-color: #35284A;
  color: white;
}
.purple {
  background-color: #816F90;
  color: white;
}
.orange {
  background-color: #FB7D79;
  color: black;
}
