.main-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  @include media-query($on-palm) {
    height: auto;
  }
  .bg-image-section {
    width: 100%;
    height: 60%;
    background: $grey-color;
    background-image: linear-gradient(to bottom, $dimmer 60%, transparent), url('/img/assets/blurred_meadow.jpg');
    background-size: cover;
    /* Background pattern from subtlepatterns.com */
    min-height: 540px;
    display: flex;
    @include media-query($on-palm) {
      position: static;
    }
    .main-wrapper {
      width: 75%;
      max-width: 1100px;
      margin: auto;
      @include media-query($on-palm) {
        width: 90%;
      }
    }
    .eye-catching-info-section {
      height: 400px;
      display: flex;
      flex-direction: row;
      align-content: space-around;
      justify-content: center;
      @include media-query($on-palm) {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        position: static;
        height: auto;
      }
      .card {
        width: 250px;
        min-width: 250px;
        height: 400px;
        background-color: white;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border-radius: 6px;
        font-family: 'Muli';
        //
        box-sizing: border-box;
        border-top: 10px solid $grey-color-light;
        border-bottom: 10px solid $grey-color-light;
        display: flex;
        flex-direction: column;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        &:hover {
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        .map {
          height: 100%;
        }
        .cellphone {
          @include card-element(#C6E09C);
        }
        .phone {
          @include card-element(#FCC990);
        }
        .address {
          @include card-element(#DB8483);
        }
        @include media-query($on-palm) {
          margin: 20px auto;
        }
      }
      .info-section {
        margin: 0 30px;
        color: white;
        display: flex;
        flex-direction: column;
        height: 340px;
        font-family: 'Muli';
        @include media-query($on-palm) {
          margin: 10px;
          height: auto;
        }
        h1 {
          font-size: x-large;
          margin-bottom: 15px;
          font-weight: 600;
        }
        p {
          margin-bottom: 20px;
          @include media-query($on-palm) {
            margin-bottom: 40px;
          }
        }
        a {
          text-align: center;
          text-decoration: none;
          letter-spacing: 1px;
          color: #334854;
          background-color: $main-button-color;
          box-shadow: 0 3px darken($main-button-color, 60%);
          border-radius: 10px;
          padding: 5px 15px 8px 15px;
          text-transform: uppercase;
          white-space: nowrap;
          transition: all .3s ease-in-out;
          width: 150px;
          &:hover {
            background-color: darken($main-button-color, 20%);
          }
          @include media-query($on-palm) {
            margin: 0 auto;
          }
        }
      }
    }
  }
  .important-links-section {
    background-color: #EFECEA;
    height: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Muli';
    .important-links-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      width: 75%;
      @include media-query($on-palm) {
        flex-direction: column;
        width: 90%;
        align-items: center;
      }
      .important-link-block {
        text-align: center;
        width: 300px;
        @include media-query($on-palm) {
          margin: 20px;
        }
        * {
          margin: 5px;
        }
        a {
          color: $accent-color;
          i {
            font-size: 45px;
          }
        }
        h2 {
            font-family: 'Alegreya';
        }
        p {
            color: $grey-color;
        }
        &:first-child {
          margin-left: 10%;
          @include media-query($on-palm) {
            margin-left: 20px;
            padding-top: 30px;
          }
        }
        &:last-child {
          margin-right: 10%;
          @include media-query($on-palm) {
            margin-right: 20px;
            padding-bottom: 30px;
          }
        }
      }
    }

  }
  // .history {
  //   height: 200px;
  // }
}
