/**
 * Site header
 */
body {
  min-height: 100vh;
  @include media-query($on-palm) {
    min-height: none;
  };
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.def-wrapper {
  margin: 0 auto;
  @include media-query($on-palm) {
    width: 90%;
  };
}

.site-header {
    min-height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0 20px 0;
    @include media-query($on-palm) {
      flex-direction: column;
      justify-content: center;
    }
    .header-title {
      text-decoration: none;
      border-bottom: 2px solid $accent-color;
      text-align: center;
      @include media-query($on-palm) {
        @include center-on-mobile;
        padding-bottom: 15px;
      };
      .site-title {
        font-family: 'Alegreya';
        font-size: 50px;
        color: white;
        white-space: nowrap;
        @include media-query($on-palm) {
          white-space: normal;
        }
      }
    }
}

/**
 * Page content
 */
.page-content {

}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
