nav {
  height: 56px;
  width: 100%;
  background: $nav-color;
  font-weight: 200;
  .nav-wrapper {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include media-query($on-palm) {
      width: 90%;
    }
    .home-ribbon {
      width: 56px;
      min-width: 56px;
      height: 66px;
      background-color: $accent-color;
      box-shadow: 4px -8px 0px 0px rgba(black, .2);
      position: relative;
      display: flex;
      i {
        margin: auto;
        z-index: 10;
        font-size: 38px;
        color: white;
        transition: all .2s ease-in-out;
        &.add-padding-bottom {
          padding-bottom: 10px;
        }
      }
      &:before {
        content: "";
        width: 0;
	      height: 0;
	      border-top: 10px solid darken($accent-color, 30%);
	      border-right: 10px solid transparent;
        position: absolute;
        top: 56px;
        left: 56px;
      }
    }
    .nav-links {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-bottom: 10px;
      @include media-query($on-palm) {
        display: none;
        &.mobile-style {
          display: none;
          position: absolute;
          width: 100%;
          height: 200px;
          top: 56px;
          left: 0;
          text-align: center;
          flex-direction: column;
          background-color: $nav-color;
          &.visibility {
            display: flex;
          }
        }
      }
      a {
        padding: 0 10px;
        transition: all .2s ease-in-out;
        &:hover {
          background-color: darken($nav-color, 5%);
        }
        @include media-query($on-palm) {
          &:hover {
            font-weight: 400;
            background-color: $nav-color;
          }
        }
        p {
          color: black;
          white-space: nowrap;
          padding-top: 13px;
          text-transform: uppercase;
          @include media-query($on-palm) {
            padding-top: 0;
          }
        }
      }
    }
    .hamburger {
      width: 56px;
      height: 56px;
      display: none;
      color: black;
      @include media-query($on-palm) {
        display: flex;
      }
      i {
        margin: auto;
        font-size: 38px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}








//     .nav-links {
//       display: flex;
//       flex-direction: row;
//       justify-content: space-around;
//       @include media-query($on-palm) {
        // position: absolute;
        // width: 100%;
        // height: 200px;
        // top: 56px;
        // left: 0;
        // text-align: center;
        // flex-direction: column;
        // background-color: $nav-color;
        // display: none;
//       }
      // a {
      //   padding: 0 10px;
      //   transition: all .2s ease-in-out;
      //   &:hover {
      //     background-color: darken($nav-color, 5%);
      //   }
      //   @include media-query($on-palm) {
      //     &:hover {
      //       background-color: $nav-color;
      //     }
      //   }
      //   p {
      //     color: black;
      //     white-space: nowrap;
      //     padding-top: 13px;
      //     text-transform: uppercase;
      //     @include media-query($on-palm) {
      //       padding-top: 0;
      //     }
      //   }
      // }
//     }
//     .hamburger {
//       width: 56px;
//       height: 56px;
//       display: none;
//       color: black;
//       @include media-query($on-palm) {
//         display: flex;
//       }
//       i {
//         margin: auto;
//         font-size: 38px;
//
//       }
//       &:hover {
//         cursor: pointer;
//       }
//     }
//   }
// }
//
