.universal-wrapper {
  margin: 50px auto;
  width: 50%;
  @include media-query($on-palm) {
    width: 90%;
  }
  h1 {
    font-family: 'Alegreya';
    text-align: center;
    color: $grey-color-dark;
    font-size: 36px;
    font-weight: 600;
  }
  h2 {
    font-family: 'Alegreya';
    text-align: center;
    color: $grey-color-dark;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  hr {
    width: 100px;
    margin: 20px auto;
    height: 2px;
    border: medium none;
    background-color: $accent-color;
  }
}
