.universal-wrapper {
  margin: 106px auto 50px auto;
  width: 50%;
  max-width: 600px;
  @include media-query($on-palm) {
    width: 90%;
  }
  h1 {
    font-family: 'Alegreya';
    text-align: center;
    color: $grey-color-dark;
    font-size: 36px;
    font-weight: 600;
  }
  h2 {
    font-family: 'Alegreya';
    text-align: center;
    color: $grey-color-dark;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  p {
    margin: 25px 0;
    text-align: justify;
  }
  hr {
    width: 100px;
    margin: 20px auto;
    height: 2px;
    border: medium none;
    background-color: $accent-color;
  }
}

.article-wrapper {
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  padding: 10px 0px;
}
