<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="Site">
    {% include navbar.html %}

    <div class="Site-content">
      <div class="universal-wrapper">
        <h1>{{ page.title }}</h1>
        <hr></hr>
        <h2>{{ page.description }}</h2>
        <div class="article-wrapper">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
